@using Website.Data.Repositories
@inject ICategoryRepository _categoryReository

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">گروه ها</a>
    <div class="dropdown-menu" aria-labelledby="dropdown09">
        @foreach (var item in _categoryReository.GetCategories())
        {
            <a class="dropdown-item" href="/Category/@item.CategoryID/@item.CategoryName">@item.CategoryName</a>
        }
    </div>
</li>